:root {
  --bg-main: #e3eee5;
  --bg-white: #ffffff;
  --primary-color: #066229;
  --primary-color-lighter: #1d9049ce;
  --text-dark: #333333;
  --text-medium: #666666;
  --text-light: #999999;
  --border-light: #e0e0e0;
  --incoming-bubble-border: #8ec291;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-main);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

/* --- Big Container --- */
.app-container {
  display: flex;
  width: 100%;
  max-width: 1200px;
  height: 90vh;
  background-color: transparent;
  gap: 20px;
}

/* Sidebar */
.sidebar {
  width: 320px;
  flex-shrink: 0; /* this way we can prevent the sidebar from shrinking */
  display: flex;
  padding: 20px;
  border-radius: 20px;
  flex-direction: column;
  background-color: #a5daaa;
}

.sidebar-header h1 {
  color: var(--text-dark);
  font-size: 28px;
  margin-bottom: 20px;
}

.inbox-status {
  display: flex;
  align-items: center;
  color: var(--text-medium);
  font-weight: 500;
  margin-bottom: 15px;
}

.inbox-favs,
.inbox-main {
  background-color: var(--incoming-bubble-border);
  color: var(--primary-color);
  font-size: 12px;
  padding: 4px 8px;
  border-radius: 12px;
  border-style: none;
  margin-right: 10px;
  font-weight: 700;
  cursor: pointer;
}

.settings-icon {
  margin-left: auto;
  color: var(--text-light);
  cursor: pointer;
  background-color: transparent;
  border-style: none;
}

/* Search Bar */
.search-bar {
  position: relative; /* helper for positioning the icon */
  margin-bottom: 20px;
}

.search-bar input {
  width: 100%;
  padding: 12px 15px 12px 45px;
  border: none;
  border-radius: 25px;
  background-color: var(--bg-white);
  font-size: 14px;
  color: var(--text-medium);
  outline: none;
}

.search-icon {
  position: absolute; /* so we can position it inside the input*/
  left: 15px;
  top: 50%;
  transform: translateY(-50%); /* translateY is using its own height*/
  color: var(--text-light);
}

/* Conversation List */
.conversation-list {
  border-radius: 10px;
  background-color: var(--bg-main);
  list-style: none;
  padding: 10px;
  flex-grow: 1; /*this way the container takes all available space*/
  overflow-y: auto;
  scrollbar-color: var(--border-light) transparent;
}

.conversation-item {
  display: flex;
  padding: 15px;
  background-color: var(--bg-white);
  border-radius: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.conversation-item:hover {
  background-color: #d0d3d1;
}

/* Active Convo */
.conversation-item.active {
  background-color: var(--primary-color);
}

.conversation-item.active .contact-name,
.conversation-item.active .last-message,
.conversation-item.active .time {
  color: var(--bg-white);
}

.avatar-container {
  position: relative;
  margin-right: 15px;
}

.avatar-container img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.conversation-info {
  flex-grow: 1;
  overflow: hidden;
}

.contact-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4px;
}

.contact-name {
  font-weight: 700;
  color: var(--text-dark);
}

.time {
  font-size: 12px;
  color: var(--text-light);
}

.last-message {
  font-size: 13px;
  color: var(--text-medium);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Chat Window */
.chat-window {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  overflow: hidden;
}

.chat-header {
  background-color: var(--primary-color-lighter);
  padding: 15px 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 20px;
}

.active-contact-info {
  display: flex;
  align-items: center;
}

.header-avatar {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-right: 15px;
}

.active-contact-info h2 {
  font-size: 18px;
  color: var(--bg-white);
}

.active-contact-info span {
  font-size: 13px;
  color: var(--text-medium);
}

.more-options {
  color: var(--border-light);
  cursor: pointer;
  background-color: transparent;
  border-style: none;
}

/* Chatting Area */
.chat-messages {
  flex-grow: 1;
  padding: 25px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #d5e8d7;
  border-radius: 20px;
}

/* Message (General) */
.message-group {
  display: flex;
  align-items: flex-end;
  max-width: 80%;
}

.message-avatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-bottom: 25px;
}

.message-content {
  display: flex;
  flex-direction: column;
}

.message-bubble {
  padding: 15px 20px;
  border-radius: 20px;
  font-size: 14px;
  line-height: 1.5;
  position: relative;
}

.message-time {
  font-size: 11px;
  color: var(--text-light);
  margin-top: 8px;
}

/* Incoming Messages */
.message-group.incoming {
  align-self: flex-start;
}

.message-group.incoming .message-avatar {
  margin-right: 15px;
}

.message-group.incoming .message-bubble {
  background-color: var(--bg-white);
  color: var(--text-dark);
  border: 2px solid var(--incoming-bubble-border);
  border-bottom-left-radius: 5px;
}
.message-group.incoming .message-time {
  margin-left: 5px;
}

/* Outgoing Messages */
.message-group.outgoing {
  align-self: flex-end;
  flex-direction: row;
}

.message-group.outgoing .message-bubble {
  background-color: var(--primary-color);
  color: var(--bg-white);
  border-bottom-right-radius: 5px;
}

.message-group.outgoing .message-content {
  align-items: flex-end;
}
.message-group.outgoing .message-time {
  margin-right: 5px;
}

/* Chat Input Area sau Footer-ul */
.chat-input-area {
  background-color: var(--bg-white);
  padding: 15px;
  border-radius: 20px;
  margin-bottom: 25px;
}

.input-wrapper {
  display: flex;
  align-items: center;
  background-color: var(--bg-white);
}

.input-wrapper input {
  flex-grow: 1;
  border: none;
  font-size: 15px;
  outline: none;
  color: var(--text-dark);
  padding-right: 15px;
}
.input-wrapper input::placeholder {
  color: var(--text-light);
}

.input-actions {
  display: flex;
  align-items: center;
  gap: 15px;
}

.action-icon {
  color: var(--text-light);
  cursor: pointer;
  font-size: 22px;
}

.send-button {
  background-color: var(--primary-color);
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  cursor: pointer;
  transition: background-color 0.2s;
}
.send-button:hover {
  background-color: #033315;
}

.send-button .material-icons {
  font-size: 20px;
}
